# Cache dirs and variables
.idea/
.DS_Store
.venv/
server/__pycache__/

# Debug information
data/
images/
noisy_images/
videos/
runs/

data_processing/dataset/
data_processing/runs/
data_processing/yolov8n.pt